<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Your Details</title>
  </head>
  <body>
    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1 style="margin-top: 30px">Please Fill Your Details</h1>
            <div class="mb-3">
              <label for="e-mail">Email address</label>
              <input type="email" name="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="mb-3">
              <label for="Name">Name</label>
              <input type="Name" name="fullName" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="Title 01">Title 01</label>
              <input type="Title 1" name="title_1" class="form-control" id="title_1" placeholder="Your experience">
            </div>
            <div class="mb-3">
              <label for="Title 02">Title 02</label>
              <input type="Title 2" name="title_2" class="form-control" id="title_2" placeholder="Your experience">
            </div>
            <div class="mb-3">
              <label for="Title 03">Title 03</label>
              <input type="Title 3" name="title_3" class="form-control" id="title_3" placeholder="Your experience">
            </div>
            <div class="mb-3">
              <label for="Aspire">Aspiration</label>
              <input type="Asp" name="Asp" class="form-control" id="Asp" placeholder="Your dream position">
            </div>
            <div class="mb-3">
                <label for="Contact">Phone Number</label>
                <input type="Contact" name="PhoneNumber" class="form-control" id="Contact" placeholder="Please enter your contact number">
              </div>
              <div class="mb-3">
                <label for="Address">Short Address</label>
                <input type="Address" name="Address" class="form-control" id="Address" placeholder="Where do you belong from?">
              </div>

              <div class="mb-3">
                <label for="Experience 01">Latest Experience</label>
                <input type="Experience 01" name="Experience01" class="form-control" id="Experience 01" placeholder="Your most recent Designation">
                <label for="Company 01">Organisation</label>
                <input type="Company 01" name="Company01" class="form-control" id="Company 01" placeholder="Your most recent Organisation">
                <label for="Duration 01">Timeline of Experience</label>
                <input type="D1" name="D1" class="form-control" id=" D1" placeholder="Experience Timeline">
                <label for="Company_about">About the company</label>
                <input type="CA01" name="CA01" class="form-control" id=" CA01" placeholder="Company About 1">
              </div>
              <div class="mb-3">
                <label for="Experience 02">Experience</label>
                <input type="Experience 02" name="Experience02" class="form-control" id="Experience 02" placeholder="Your Designation">
                <label for="Company 02">Organisation</label>
                <input type="Company 02" name="Company02" class="form-control" id="Company 02" placeholder="Your Organisation">
                <label for="Duration 02">Timeline of Experience</label>
                <input type="D2" name="D2" class="form-control" id=" D2" placeholder="Experience Timeline">
                <label for="Company_about_02">About the company</label>
                <input type="CA02" name="CA02" class="form-control" id=" CA02" placeholder="Company About 2">
              </div>

              <div class="mb-3">
                <label for="Education 01">Your Masters Degree</label>
                <input type="Education 01" name="Education01" class="form-control" id="Education 01" placeholder="Post Grad">
                <label for="UNI1">Your Masters Degree University</label>
                <input type="UNI1" name="UNI1" class="form-control" id="UNI1" placeholder="Post Grad University">\
                <label for="G1">Your Masters Degree Grade</label>
                <input type="G1" name="G1" class="form-control" id="G1" placeholder="Post Grad Grade">
              </div>
              <div class="mb-3">
                <label for="Education 02">Your Bachelors Degree</label>
                <input type="Education 02" name="Education02" class="form-control" id="Education 02" placeholder="Under Grad">
                <label for="UNI2">Your Degree University</label>
                <input type="UNI2" name="UNI2" class="form-control" id="UNI2" placeholder="Bachelors University">
                <label for="G2">Your bachelor Degree Grade</label>
                <input type="G2" name="G2" class="form-control" id="G2" placeholder="Bachelors Grade">
              </div>
              <div class="mb-3">
                <label for="Education 04">Other Qualifications</label>
                <input type="Education 04" name="Education04" class="form-control" id="Education 04" placeholder="Other Qualifications">
              </div>
              <div class="mb-3">
                <label for="Education 03">Your Higher Education</label>
                <input type="Education 03" name="Education03" class="form-control" id="Education 03" placeholder="Higher Education">
              </div>
              <div class="mb-3">
                <label for="BI Tools">BI Tools known</label>
                <input type="BI" name="BI" class="form-control" id="BI" placeholder="Your know BI tools">
              </div>

              <div class="mb-3">
                <label for="Cer 01">Certification</label>
                <input type="Cer 01" name="Cer01" class="form-control" id="Cer 01" placeholder="Your certificate">
              </div>
              <div class="mb-3">
                <label for="Cer 02">Certification</label>
                <input type="Cer 02" name="Cer02" class="form-control" id="Cer 02" placeholder="Your certificate">
              </div>
              <div class="mb-3">
                <label for="Cer 03">Certification</label>
                <input type="Cer 03" name="Cer03" class="form-control" id="Cer 03" placeholder="Your certificate">
              </div>
              <div class="mb-3">
                <label for="Cer 04">Certification</label>
                <input type="Cer 04" name="Cer04" class="form-control" id="Cer 04" placeholder="Your certificate">
              </div>

              <div class="mb-3">
                <label for="Skill 01">Skill 01</label>
                <input type="Skill 01" name="Skill01" class="form-control" id="Skill 01" placeholder="Your skill">
                <label for="Skill score 01">Skill Score</label>
                <input type="Skill score 01" name="Skillscore01" class="form-control" id="Skill score 01" placeholder="Skill score">
              </div>
              <div class="mb-3">
                <label for="Skill 02">Skill 02</label>
                <input type="Skill 02" name="Skill02" class="form-control" id="Skill 02" placeholder="Your skill">
                <label for="Skill score 02">Skill score</label>
                <input type="Skill score 02" name="Skillscore02" class="form-control" id="Skill score 02" placeholder="Skill Score">
              </div>
              <div class="mb-3">
                <label for="Skill 03">Skill 03</label>
                <input type="Skill 03" name="Skill03" class="form-control" id="Skill 03" placeholder="Your skill">
                <label for="Skill score 03">Skill Score</label>
                <input type="Skill score 03" name="Skillscore03" class="form-control" id="Skill score 03" placeholder="Skill score">
              </div>
              <div class="mb-3">
                <label for="Skill 04">Skill 04</label>
                <input type="Skill 04" name="Skill04" class="form-control" id="Skill 04" placeholder="Your skill">
                <label for="Skill score 04">Skill score</label>
                <input type="Skill score 04" name="Skillscore04" class="form-control" id="Skill score 04" placeholder="Skill score">
              </div>
              <div class="mb-3">
                <label for="Skill 05">Skill 05</label>
                <input type="Skill 05" name="Skill05" class="form-control" id="Skill 05" placeholder="Your skill">
                <label for="Skill score 05">Skill score</label>
                <input type="Skill score 05" name="Skillscore05" class="form-control" id="Skill score 05" placeholder="Skill score">
              </div>
              <div class="mb-3">
                <label for="Skill 06">Skill 06</label>
                <input type="Skill 06" name="Skill06" class="form-control" id="Skill 06" placeholder="Your skill">
                <label for="Skill score 06">Skill score</label>
                <input type="Skill score 06" name="Skillscore06" class="form-control" id="Skill score 06" placeholder="Skill score">
              </div>
              <div class="mb-3">
                <label for="Gen Skills">Other Skills</label>
                <input type="Gen Skills" name="Gen_Skills" class="form-control" id="Gen_Skills" placeholder="Your other skills">
              </div>

              <div class="mb-3">
                <label for="Project 01">Project 01</label>
                <input type="Project 01" name="Project01" class="form-control" id="Project 01" placeholder="Your Project">
                <H6> Tell me about your project</H6>
                <textarea name="Pro01Desc" class="form-control" id="Pro 01 Desc" cols="30" rows="10"></textarea>
              </div>
              <div class="mb-3">
                <label for="Project 02">Project 02</label>
                <input type="Project 02" name="Project02" class="form-control" id="Project 02" placeholder="Your Project">
                <H6> Tell me about your project</H6>
                <textarea name="Pro02Desc" class="form-control" id="Pro 02 Desc" cols="30" rows="10"></textarea>
              </div>
              <div class="mb-3">
                <label for="Project 03">Project 03</label>
                <input type="Project 03" name="Project01" class="form-control" id="Project 03" placeholder="Your Project">
                <H6> Tell me about your project</H6>
                <textarea name="Pro03Desc" class="form-control" id="Pro 03 Desc" cols="30" rows="10"></textarea>
              </div4>
              <div class="mb-3">
                <label for="Project 04">Project 04</label>
                <input type="Project 04" name="Project04" class="form-control" id="Project 04" placeholder="Your Project">
                <H6> Tell me about your project</H6>
                <textarea name="Pro04Desc" class="form-control" id="Pro 04 Desc" cols="30" rows="10"></textarea>
              </div>

              <div class="mb-3">
                <label for="Interest">Your Interests</label>
                <input type="Interest" name="Interest" class="form-control" id="Interest" placeholder="Your Interests">
              </div>

              <div class="mb-3">
                <label for="Linkedin ID">Your Linkedin ID</label>
                <input type="Linkedin ID" name="LinkedinID" class="form-control" id="Linkedin ID">
              </div>
              <div class="mb-3">
                <label for="Github ID">Your Github ID</label>
                <input type="Github ID" name="GithubID" class="form-control" id="Github ID">
              </div>

              <div class="mb-3">
                <H6> Please tell me about you !!!</H6>
                <textarea name="Bio" class="form-control" id="About" cols="30" rows="10"></textarea>
              </div>
              <div class="mb-3">
                <H6> Please tell me about you work !!!</H6>
                <textarea name="WorkBio" class="form-control" id="WorkBio" cols="30" rows="10"></textarea>
              </div>

              <h6>Please upload your profile picture</h6>
              <div class="input-group", style="margin: 20px;">
              <div class="custom-file">
                <input type="file" accept="image/*" name="Profile_picture" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
              </div>
              
              <h6>Please upload your resume</h6>
              <div class="input-group", style="margin: 20px;">
                <div class="custom-file">
                  <input type="file" name="Resume" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
              </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>

            <div class="container-xxl">
              <a href="{{url_for('sample')}}" type="button" class="btn btn-success" style="margin: 20px;">Lets see a sample</a>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>